<div class="profile-menu">
    <ul>
        {% if user.role == 'fr' %}

            <li><a href="{% url 'job_in_process' %}">Выполняемые работы</a></li>

        {% endif %}

        <li><a href="{% url 'account' %}">Профиль</a></li>


        <li><a href="{% url 'my_chats' %}">Сообщения</a></li>


        <li><a href="{% url 'proposal' %}">Заявки</a></li>


        <li><a href="{% url 'settings' %}">Настройки</a></li>


        <li><a href="{% url 'change_password' %}">Изменить пароль</a></li>

    </ul>
</div>