{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>

<div id="main">
    {#шапка#}
    <div id="header">
        <a href="{% url 'home' %}"><h1>Freelance</h1></a>
        <ul>
            {% if request.user.is_authenticated %}
                <a href="{% url 'account' %}">
                    <li>Профиль</li>
                </a>
                <li><a href="{% url 'logout' %}">Выход</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                <li><a href="{% url 'login' %}">Вход</a></li>
                </ul>

            {% endif %}
    </div>
    {#меню#}
    <div id="menu">
        {% block menu %}
            <ul>
                {% for cat in category %}
                    {% ifchanged cat.category.pk %}
                        <li><b>{{ cat.category.title_cat }}</b></li>
                    {% endifchanged %}

                    <li><a href="{% url 'job_cat_view' cat.slug_sub_cat %}">
                        {{ cat.tittle_sub_cat }}</a></li>
                {% endfor %}
            </ul>
        {% endblock %}
    </div>
    {#блок контента#}
    <div id="content">
        {% bootstrap_messages %}
        {% block content %}
            <h3>Последние вакансии</h3>

            {% include 'module/view_list_job.html' %}

            <div style="text-align: center"><b><a href="{% url 'job' %}">Открыть все</a></b></div>
        {% endblock %}

    </div>
    {#фильтр#}
    <div id="filter">

        {% block filter %}
            <form action="{% url 'filter' %}" method="post">
                {% csrf_token %}

                <input type="number" class="filter-form" name="min_price" placeholder="оплата от" value="{{ min }}"/>
                <input type="number" class="filter-form" name="max_price" placeholder="до" value="{{ max }}"/>
                <strong>Категория</strong><br>
                <label>
                    <select name="category">
                        {% for cat in category %}
                            <option value="{{ cat.slug_sub_cat }}">{{ cat.tittle_sub_cat }}</option>
                        {% endfor %}
                    </select>
                </label>

                <button style="margin-top: 5px" type="submit" class="btn btn-primary">Фильтр</button>
            </form>

        {% endblock %}
    </div>

    <div id="clear"></div>
    {#футер#}
    <div id="footer">
        <p>Apwork.ru {% now "Y" %}</p>
    </div>
</div>

</body>
</html>