{% extends 'basic.html' %}
{% block content %}

    {% include 'module/view_list_job.html' %}

        {#    пагинация#}
    <div class="pagination">
        {% if paginator.num_pages == 1 %}
        {% else %}
            <ul>
                {% for page in paginator.page_range %}
                    {% if page_obj.number == page %}
                        <li>{{ page }}</li>
                    {% else %}
                        <a href="{{ all }}?page={{ page }}">
                            <li><strong>{{ page }}</strong></li>
                        </a>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>



{% endblock %}