{% extends 'basic.html' %}

{% block menu %}
    {% include 'module/profile_menu.html' %}
{% endblock %}

{% block content %}
    {% for i in message %}
        {{ i }} <br>
    {% endfor %}

    <form action="{% url 'chat' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="author" value="{{ user.username }}">
        <input type="hidden" name="chat" value="{{ name_chat }}">
        <input name="message" value="">
        <button type="submit">Отправить</button>
    </form>
{% endblock %}

{% block filter %}

{% endblock %}