{% extends 'basic.html' %}

{% block content %}

    <div class="block-job">
        <ul>
                <li><strong>{{ form.title }}</strong></li>
            <li>{{ form.description }}</li>
            <li><strong>От {{ form.min_price }}₽ до {{ form.max_price }}₽</strong></li>
            <li>Дедлайн: {{ form.expired_date }}</li>

        </ul>
    </div>
    {% if user.is_authenticated %}
        <div class="button-send" style="float: left; padding-right: 10px"> {#поправить стиль#}
            <form action="{% url 'send_proposal' %}" method="get">
                <input type="hidden" name="employer" value="{{ form.author.id }}">
                <input type="hidden"  name="job_id" value="{{ form.id }}">
                <button type="submit">Откликнуться</button>
            </form>
        </div>

        <form action="{% url 'chat' %}" method="get">
            <input type="hidden"  name="sender" value="{{ user.username }}">
            <input type="hidden"  name="author" value="{{ form.author }}">
            <input type="hidden"  name="job_name" value="{{ form.title }}">
            <input type="hidden"  name="chat_id" value="{{ form.id }}">
            <button type="submit">Сообщение</button>
        </form>
        {% else %}
        <p>Для отклика необходимо <a href="{% url 'login' %}"><strong style="color: #1f1f1f">авторизоваться</strong></a></p>
    {% endif %}
{% endblock %}
