{% extends 'basic.html' %}
{% load bootstrap4 %}
{% block menu %}
    {% include 'module/profile_menu.html' %}
{% endblock %}

{% block content %}
    <ul>
        {% for f in form %}

            <div class="frame">
                <li>{{ f.job }}</li>
                <li>{{ f.message }}</li>
                <form action="{% url 'view_proposal' %}" method="get">
                    <input type="hidden" name="id" value="{{ f.id }}">
                    <input type="hidden" name="em" value="{{ f.employer_id }}">
                    <button type="submit">Открыть</button>
                </form>
            </div>

        {% endfor %}
    </ul>
{% endblock %}